<?xml version="1.0"?>
<config>
    <modules>
        <AeronicsBuergel_CreditCheck>
            <version>1.1.2</version>
        </AeronicsBuergel_CreditCheck>
    </modules>
    <global>
        <models>
            <aeronicsbuergel_creditcheck>
                <class>AeronicsBuergel_CreditCheck_Model</class>
            </aeronicsbuergel_creditcheck>
        </models>
        <blocks>
            <aeronicsbuergel_creditcheck>
                <class>AeronicsBuergel_CreditCheck_Block</class>
            </aeronicsbuergel_creditcheck>
        </blocks>
        <helpers>
            <aeronicsbuergel_creditcheck>
                <class>AeronicsBuergel_CreditCheck_Helper</class>
            </aeronicsbuergel_creditcheck>
        </helpers>
        <resources>
            <aeronicsbuergel_creditcheck_setup>
                <setup>
                    <module>AeronicsBuergel_CreditCheck</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </aeronicsbuergel_creditcheck_setup>
            <aeronicsbuergel_creditcheck_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </aeronicsbuergel_creditcheck_write>
            <aeronicsbuergel_creditcheck_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </aeronicsbuergel_creditcheck_read>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <aeronicsbuergel_creditcheck>
                    <file>aeronicsbuergel_creditcheck.xml</file>
                </aeronicsbuergel_creditcheck>
            </updates>
        </layout>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <aeronicsbuergel_creditcheck before="Mage_Checkout">AeronicsBuergel_CreditCheck</aeronicsbuergel_creditcheck>
                    </modules>
                </args>
            </checkout>
            <aeronicsbuergel_creditcheck>
                <use>standard</use>
                <args>
                    <module>AeronicsBuergel_CreditCheck</module>
                    <frontName>aeronicsbuergel_creditcheck</frontName>
                </args>
            </aeronicsbuergel_creditcheck>
        </routers>
        <events>
            <payment_method_is_active>
                <observers>
                    <aeronicsbuergel_creditcheck>
                        <type>singleton</type>
                        <class>AeronicsBuergel_CreditCheck_Model_Observer</class>
                        <method>activeCheck</method>
                    </aeronicsbuergel_creditcheck>
                </observers>
            </payment_method_is_active>
            <checkout_submit_all_after>
                <observers>
                    <aeronicsbuergel_creditcheck>
                        <type>singleton</type>
                        <class>AeronicsBuergel_CreditCheck_Model_Observer</class>
                        <method>customerRegisterSuccess</method>
                    </aeronicsbuergel_creditcheck>
                </observers>
            </checkout_submit_all_after>
            <sales_order_place_before>
                <observers>
                    <aeronicsbuergel_creditcheck>
                        <class>AeronicsBuergel_CreditCheck_Model_Observer</class>
                        <method>passiveCheck</method>
                    </aeronicsbuergel_creditcheck>
                </observers>
            </sales_order_place_before>
        </events>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <aeronicsbuergel_creditcheck translate="title" module="AeronicsBuergel_CreditCheck">
                                            <title>Credit Check</title>
                                        </aeronicsbuergel_creditcheck>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <aeronicsbuergel_creditcheck>
                    <files>
                        <default>AeronicsBuergel_CreditCheck.csv</default>
                    </files>
                </aeronicsbuergel_creditcheck>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <aeronicsbuergel_creditcheck>
            <settings>
                <mode>1</mode>
                <type>1</type>
                <concheck_timeout_de>5</concheck_timeout_de>
                <concheck_timeout_int>5</concheck_timeout_int>
                <riskcheck_timeout>5</riskcheck_timeout>
                <recheck>30</recheck>
                <sessioncache>1</sessioncache>
                <product>1</product>
                <product_concheck>1</product_concheck>
                <product_riskcheck>2</product_riskcheck>
            </settings>
            <check_settings>
                <concheck_country_de>1</concheck_country_de>
                <concheck_country_at>4</concheck_country_at>
                <concheck_country_ch>4</concheck_country_ch>
                <concheck_country_be>2</concheck_country_be>
                <concheck_country_sw>2</concheck_country_sw>
                <concheck_country_fi>2</concheck_country_fi>
                <concheck_country_nw>2</concheck_country_nw>
                <concheck_personalnumber>2</concheck_personalnumber>
            </check_settings>
        </aeronicsbuergel_creditcheck>
    </default>
</config>