<?xml version="1.0"?>
<config>     
    <sections>
        <aeronicsbuergel_creditcheck translate="label" module="aeronicsbuergel_creditcheck">
            <label>Buergel Credit Check</label>
            <tab>sales</tab>
            <frontend_type>text</frontend_type>
            <sort_order>999</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <settings translate="label">
                    <label>Buergel Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>                
                    <fields>
                        <mode>
                            <label>mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>aeronicsbuergel_creditcheck/source_Modes</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>mode_description</comment>
                        </mode>
                        <user>
                            <label>user</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>user_description</comment>                   
                        </user>
                        <password>
                            <label>password</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>password_description</comment>                   
                        </password>
                        <type>
                            <label>type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>aeronicsbuergel_creditcheck/source_Types</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>type_description</comment>
                        </type>
                        <concheck_timeout_de>
                            <label>concheck_timeout_de</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>concheck_timeout_de_description</comment>                   
                        </concheck_timeout_de>
                        <concheck_timeout_int>
                            <label>concheck_timeout_int</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>concheck_timeout_int_description</comment>                   
                        </concheck_timeout_int>
                        <riskcheck_timeout>
                            <label>riskcheck_timeout</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>riskcheck_timeout_description</comment>                   
                        </riskcheck_timeout>
                        <recheck>
                            <label>recheck</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>recheck_description</comment>                   
                        </recheck>
                        <sessioncache>
                            <label>sessioncache</label>
                            <frontend_type>select</frontend_type>
                            <source_model>aeronicsbuergel_creditcheck/source_Statuses</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>sessioncache_description</comment>                   
                        </sessioncache>
                        <product>
                            <label>product</label>
                            <frontend_type>select</frontend_type>
                            <source_model>aeronicsbuergel_creditcheck/source_Products</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>product_description</comment>                   
                        </product>
                        <product_concheck>
                            <label>product_concheck</label>
                            <frontend_type>select</frontend_type>
                            <source_model>aeronicsbuergel_creditcheck/source_ProductsConCheck</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>product_concheck_description</comment>                   
                        </product_concheck>
                        <product_riskcheck>
                            <label>product_riskcheck</label>
                            <frontend_type>select</frontend_type>
                            <source_model>aeronicsbuergel_creditcheck/source_ProductsRiskCheck</source_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>product_riskcheck_description</comment>                   
                        </product_riskcheck>
                    </fields>
                </settings>
                <check_settings translate="label">
                    <label>ConCheck/RiskCheck Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>                
                    <fields>
                        <concheck_country_de>
                            <label>concheck_country_de</label>
                            <frontend_type>select</frontend_type>
                            <source_model>aeronicsbuergel_creditcheck/source_Statuses</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>concheck_country_de_description</comment>
                        </concheck_country_de>
                        <concheck_country_at>
                            <label>concheck_country_at</label>
                            <frontend_type>select</frontend_type>
                            <source_model>aeronicsbuergel_creditcheck/source_StatusesAT</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>concheck_country_at_description</comment>
                        </concheck_country_at>
                        <concheck_country_ch>
                            <label>concheck_country_ch</label>
                            <frontend_type>select</frontend_type>
                            <source_model>aeronicsbuergel_creditcheck/source_StatusesCH</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>concheck_country_ch_description</comment>
                        </concheck_country_ch>
                        <concheck_country_be>
                            <label>concheck_country_be</label>
                            <frontend_type>select</frontend_type>
                            <source_model>aeronicsbuergel_creditcheck/source_Statuses</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>concheck_country_be_description</comment>
                        </concheck_country_be>
                        <concheck_country_sw>
                            <label>concheck_country_sw</label>
                            <frontend_type>select</frontend_type>
                            <source_model>aeronicsbuergel_creditcheck/source_Statuses</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>concheck_country_sw_description</comment>
                        </concheck_country_sw>
                        <concheck_country_fi>
                            <label>concheck_country_fi</label>
                            <frontend_type>select</frontend_type>
                            <source_model>aeronicsbuergel_creditcheck/source_Statuses</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>concheck_country_fi_description</comment>
                        </concheck_country_fi>
                        <concheck_country_nw>
                            <label>concheck_country_nw</label>
                            <frontend_type>select</frontend_type>
                            <source_model>aeronicsbuergel_creditcheck/source_Statuses</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>concheck_country_nw_description</comment>
                        </concheck_country_nw>
                        <concheck_personalnumber>
                            <label>concheck_personalnumber</label>
                            <frontend_type>select</frontend_type>
                            <source_model>aeronicsbuergel_creditcheck/source_Statuses</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>concheck_personalnumber_description</comment>
                        </concheck_personalnumber>
                    </fields>
                </check_settings>
                <risk_management translate="label">
                    <label>Buergel Risk-Management</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>                
                    <fields>
                        <cgexclude>
                            <label>Customer Group Excludes</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </cgexclude>
                        <rules1>
                            <label>Lock paymentmethod when</label>
                            <frontend_model>aeronicsbuergel_creditcheck/form_riskRules1</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </rules1>

                    </fields>
                </risk_management>
            </groups>                
        </aeronicsbuergel_creditcheck>
    </sections>
</config>